<p class="metric-name">domInteractive</p>

<div class="metric metric-median">
  <div class="metric-heading">median</div>
  <div class="metric-value"></div>
</div>

<div class="metric metric-p95">
  <div class="metric-heading">p95</div>
  <div class="metric-value"></div>
</div>

<script>
  fetch("/metrics")
    .then(function (data) {
      return data.json()
    })
    .then(function (data) {
      document.querySelector(".metric-median .metric-value").innerHTML = data.metrics.median;
      document.querySelector(".metric-p95 .metric-value").innerHTML = data.metrics.p95;
    });
</script>
