<div class="box box-median">
  <div class="box-metric">domInteractive</div>
  <div class="box-value"></div>
  <div class="box-measure">median</div>
</div>

<div class="box box-p95">
  <div class="box-metric">domInteractive</div>
  <div class="box-value"></div>
  <div class="box-measure">p95</div>
</div>

<script>
  fetch("/metrics")
    .then(function (data) {
      return data.json()
    })
    .then(function (data) {
      document.querySelector(".box-median .box-value").innerHTML = data.metrics.median;
      document.querySelector(".box-p95 .box-value").innerHTML = data.metrics.p95;
    });
</script>
