<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="//fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
